
<header id="header" class="header d-flex align-items-center sticky-top">
    <div class="container-fluid container-xl position-relative d-flex align-items-center">

      <a href="#!home" class="logo d-flex align-items-center me-auto">
        <h1 class="">AGIN QUIZ</h1>
      </a>

      <nav id="navmenu" class="navmenu">
        <ul>
          <li><a href="#!home">Home</a></li>
          <li><a href="#!about">Giới thiệu</a></li>
          <li><a href="#!courses">Khóa học</a></li>
          <li><a href="#!lienHe">Liên hệ & Góp ý</a></li>
          <li><a href="#!hoiDap">Hỏi đáp</a></li>
          <li><a href="#!profile">Profile</a></li>
          <li ng-show="student !== null" ><button style="border: none; background-color: transparent; font-family: inherit;" type="button" ng-click="logout()" >
              <i class="bi bi-box-arrow-right"></i></button></li>
          <li ng-show="student == null"><a href="#!register">Đăng ký</a></li>
          <li ng-show="student == null" ><a href="#!login">Đăng nhập</a></li>
        </ul>
        <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
      </nav>

    </div>
  </header>